.page-wrapper {
  margin: 2rem 0rem 3rem 0rem;
}

.page-header {
  text-align: center;
}

.page-description {
  text-align: center;
  font-size: 20px;
  margin: 0rem 2rem 1rem 2rem;
}

.current-card-container {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.content-list {
  margin: 2rem 2rem 2rem 2rem;
}

.quote {
  font-family: "Coming Soon", cursive;
  margin-top: 3rem;
  text-align: center;
  font-size: 30px;
}

.quote-author {
  font-family: "Coming Soon", cursive;
  text-align: center;
  font-size: 20px;
}

.profile-container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.grid-container {
  margin-right: 5rem;
}

ul {
  list-style-type: none;
}

li {
  padding-top: 20px;
  font-size: 20px;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: blue;
}

.menu-bottom {
  margin: 3rem 1rem 3rem 1rem;
}
