.page-wrapper {
  margin: 2rem 0rem 3rem 0rem;
}

.page-header {
  font-family: "Allura", cursive;
  text-align: center;
  font-size: 40px;
  margin-top: 2rem;
}

.quote {
  font-family: "Allura", cursive;
  margin-top: 3rem;
  text-align: center;
  font-size: 40px;
}

.quote-author {
  font-family: "Allura", cursive;
  text-align: center;
  font-size: 30px;
}

.profile-container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.grid-container {
  margin-top: 2rem;
}

ul {
  list-style-type: none;
}

li {
  padding-top: 20px;
  font-size: 20px;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: blue;
}

/* .link-day {
  color: black;
}

.link-night {
  color: white;
} */

.menu-bottom {
  margin: 3rem 1rem 3rem 1rem;
}

.achievement-row {
  margin: 2rem;
}

.achievement-desc {
  font-size: 18px;
  margin: 0rem 2rem 0rem 2rem;
}

.achievement-col {
  display: flex;
  justify-content: center;
}

.nav-link {
  font-family: "Allura", cursive;
  font-size: 23px;
}

.nav-link-mobile {
  font-family: "Allura", cursive;
  font-size: 30px;
}

.sus-post {
  margin-bottom: 2rem;
}

.sus-text {
  font-size: 15px;
}

.fixed-col {
  position: fixed;
}

.segment-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.acc-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  font-size: 15px;
}

.center {
  display: flex;
  justify-content: center;
}
