.page-wrapper {
  margin: 2rem 0rem 3rem 0rem;
}

.page-header {
  font-family: "Allura", cursive;
  text-align: center;
  font-size: 40px;
  margin-top: 2rem;
}

.quote {
  font-family: "Allura", cursive;
  margin-top: 3rem;
  text-align: center;
  font-size: 40px;
}

.quote-author {
  font-family: "Allura", cursive;
  text-align: center;
  font-size: 30px;
}

.profile-container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.grid-container {
  margin-top: 2rem;
}

ul {
  list-style-type: none;
}

li {
  padding-top: 20px;
  font-size: 20px;
}

.link-day {
  color: black;
}

.link-night {
  color: white;
}

.menu-bottom {
  margin: 3rem 1rem 3rem 1rem;
}

.achievement-row {
  margin: 2rem;
}

.achievement-desc {
  font-size: 18px;
  margin: 0rem 2rem 0rem 2rem;
}

.achievement-col {
  display: flex;
  justify-content: center;
}

.nav-link {
  font-family: "Allura", cursive;
  font-size: 23px;
  color: black;
}

.nav-link:hover {
  color: #4183c4 !important;
}

.nav-link-mobile {
  font-family: "Allura", cursive;
  font-size: 30px;
}

.sus-post {
  margin-bottom: 2rem;
}

.fixed-col {
  position: fixed;
}

.segment-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.acc-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  font-size: 15px;
}

.center {
  display: flex;
  justify-content: center;
}

.med-text {
  font-size: 16px;
}

.big-text {
  font-size: 20px;
}

.caption {
  font-size: 15px;
}

.card-dark {
  background-color: #1b1c1d !important;
}

.card-dark-mems {
  background-color: #1b1c1d !important;
}

.segment-group-night {
  border-top: 0.1rem solid white !important;
  border-right: 0.1rem solid white !important;
  border-bottom: 0rem !important;
  border-left: 0.1rem solid white !important;
}

.segment-bottom {
  border-bottom: 0.1rem solid white !important;
}

.segment-top {
  border-top: 0.1rem solid white !important;
}

.menu-night {
  border-right: 0.1rem solid white !important;
}

.mode-btn-night {
  border-left: 0.1rem solid white !important;
}
