@media (min-width: 992px) {
  body {
    padding-top: 56px;

  }

  .cover {
    height: 100vh;
  }

}

html, body {
  height: 100%;
}

h1 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

h4, h5, h6 {
  text-align: center;
}

/*Navbar Styles*/
.navbar {
  background: #00C9FF;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #92FE9D, #00C9FF);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #92FE9D, #00C9FF);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nav-link {
  color: white !important;
}

/*Card Styles*/
.card-header {
  font-weight: bold;
}

.card-img-top {
  object-fit: cover;
  height: 250px;
}

.container-fluid {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

.cover-section {
  background: #00C9FF;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #92FE9D, #00C9FF);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #92FE9D, #00C9FF);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
}

.cover {
  text-align: center;
  padding: 0 1.5rem;
  padding-top: 25vh;
}

.cover-heading {
  padding: 20px 20px;
}

.profile-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn {
  background-color: transparent;
  border-color: white;
}

.blockquote {
  text-align: center;
  padding: 10px;
}

.lead {
  padding: 20px;
}

.experience {
  background-color: #F6F8F9;
}

.skills {
  background-color: #F6F8F9;
}

.courses {
  background-color: #F6F8F9;
}

.honors {
  background-color: #F6F8F9;
}

i {
  font-size: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.resume {
  text-align: left;
}

.year {
  text-align: right;
}

.fa {
  font-size: 20px !important;
  display: block;
  padding: 5px !important;
}

#facebook {
  font-size: 50px !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
  color: #4468B0;
}

#linkedin {
  font-size: 50px !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
  color: #1178B3;
}

#github {
  font-size: 50px !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
  color: black;
}
