@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

body {
  background: #0f0c29;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h2 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
}

.card-header {
  font-weight: bold;
}

.card-img-top {
  object-fit: cover;
  height: 250px;
}

.container-fluid {
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

a {
  color: white;
}

li.active a {
  color: white;
  background-color: #1D1E42;
}

.navbar-dark {
  background: #0f0c29;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.scroll-adjust {
  padding-top: 40px;
  margin-top: 40px;
}

.card {
  width: auto;
}
