@media (min-width: 992px) {
  body {
    padding-top: 56px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

body {
  padding-top: 70px;

}

h3 {
  text-align: center;
}

.card-header {
  font-weight: bold;
}

.container {
  min-width: 500px;
}
